#watch-body{padding-top: 89px;text-align: left;}
#watch-body h1{font-size: 53px;line-height: 100%;text-align: left;}
.watch-body-new-user h1{font-size: 34px !important; text-align: center;}
.watch-body-new-user figure{text-align: center;margin-top: 56px;}
.watch-body-new-user p{text-align: center;}
.watch-body-new-user a{margin: auto;width: 170px;height: 48px;display: block;text-align: center;border: 3px solid #2F1160;line-height: 48px;color: #2F1160;font-weight: 700;font-size: 18px;text-decoration: none;}
.watch-body-new-user a:hover{background-color: var(--secondary);color: #fff;}