#stepper{display: flex;justify-content: space-between;position: relative;padding: 0;}
#stepper::before{background: #2F1160;position: absolute;height: 4px;width: 90%;top: 50%;left: 0;right: 0;content: "";transform: translateY(-50%);z-index: -1;margin: auto;}
#stepper li{background: #B9B7BD;height: 63px;width: 63px;border-radius: 100%;line-height: 63px;font-weight: 700;font-size: 35px;text-align: center;color: #fff;list-style: none;}
#stepper li.active{background: #7036CF;}