#login-body{max-width: 635px;margin: auto;padding-top: 110px;}
#login-body h2{font-size: 39px;}
.form-container{width: 295px;}
.labeled-input{width: 100%;}
.forgot-password{width: 100%;text-align: right;margin-top: -26px;position: relative;z-index: 1;}
#login-body form a{font-size: 13px;font-weight: 400;color: #4F4F4F;text-decoration: none;}
#login-body form a:hover{text-decoration: underline;}
#login-body form button{width: 100%;margin-top: 30px;font-weight: 700;font-size: 18px;}
.login-footer a{text-decoration: none;}
.login-footer a:hover{text-decoration: underline;}