#signup-container{max-width: 648px;width: 100%;margin: auto;clear: both;padding-top: 40px;padding-bottom: 158px;}
#signup-container h2{font-size: 39px;margin-bottom: 60px;line-height: 100%;}
#signup-container .labeled-input{width: 295px;}
#signup-container .step2 .labeled-input{width: 404px;}
#signup-container .step4 .form{width: 1055px;margin-left: 50%;transform: translateX(-50%);}
#signup-container .step4 .categories{display: flex;flex-wrap: wrap;justify-content: space-between;}

.user-type p{color: #2F1160;font-size: 20px;font-weight: 700;}
.footer-btn{margin-top: 131px;}
.footer-btn a{width: 131px;height: 62px;line-height: 62px;padding: 0;text-align: center;display: inline-block;box-sizing: border-box;vertical-align: top;}
.footer-btn a:first-child{margin-right: 13px;}
