#home-body{padding-top: 89px;text-align: left;}
#home-body h1{color: #2F1160;font-size: 53px;line-height: 100%;}
.video-list{margin-bottom: 76px;}
.video-list h2{color: #2F1160;font-size: 31px;line-height: 47px;margin-bottom: 24px;}
.video-list h2 a{display: inline-block;font-weight: 400;font-size: 25px;line-height: 47px;margin-left: 30px;text-decoration: underline;color: inherit;vertical-align: top;}
.video-list h2 a:hover{font-weight: 500;}
.video-boxes{display: flex;overflow-x: auto;}
.video-boxes section{box-shadow: 0px 2.74223px 13.7111px rgba(0, 0, 0, 0.1);width: 285px;min-height: 300px;border-radius: 8px;overflow: hidden;margin-right: 29px;min-width: 285px;}
.video-boxes section:hover{box-shadow: 0px 10px 51px -25px var(--primary);}
.video-boxes section a{text-decoration: none;display: block;height: 100%;}
.video-boxes section a:hover{box-shadow: 10px 10px 10px #000;}
.video-boxes section figure{margin: 0;position: relative;display: block;}
.video-boxes section figure img{position: relative;}
.video-boxes section figure figcaption{position: absolute;top: 10px;right: 10px;background: #44BE9A;border-radius: 8px;color: #fff;min-width: 68px;text-align: center;height: 24px;line-height: 24px;font-size: 13px;font-family: Hind;}
.video-info{padding:4px 15px 30px;}
.video-info h3{margin: 0;font-size: 19px;color: #000;}
.video-info p{color: #000;font-weight: 400;font-size: 11px;line-height: 17px;}
.rating{width: 90px;float: right;margin-right: 5px;}

.video-list.playlist figure{position: relative;}
.video-list.playlist figure::before{position: relative;content: url('../../images/image-carousel.png');top: 0;left: 0;display: block;}
.video-list.playlist section figure img{position: absolute;z-index: 19;top: 0;left: 50%;right: 0;width: 197px;transform: translateX(-50%);}